body{
    display: flex;
    
}
.main_bara{

}

#Welcome{
    margin-left: 250px;
    margin-right: 500px;
    display: inline-block;
    position: relative;
    margin-top: 200px;
    font-size: xx-large;
    margin-bottom: 50px;
    color: rgb(167, 160, 160);
}

#img{
   display: inline-block;
   background-color: red;
   margin-left: 200px;
   z-index: -1px;
   position: absolute;
   width: 600px;
   
}

.main{

    border: 1px solid black;
    width: 500px;
    height: 750px;  
    font-size: medium;
    margin-left: 800px;
    display: inline-block;
    margin-bottom: 500px;
    position: absolute;
}
.center{
    margin-left: 50px;
   
}

#tp{
    width: 300px;
    height: 35px;
}

#a{
    padding: 50px;
}


#l{
    margin-right: 300px;
    
}





#check{
    margin-left: 50px;
    align-self: self-start;
    display: inline-block;
}

#Remember{
    margin-left: 2px;
    margin-bottom: 105px;
    display: inline-block;
}

#forget{
    display: inline-block;
    margin-left: 60px;
}



#login{
    background-color: rgb(92, 12, 168);
    width: 300px;
    height: 45px;
    margin-left: 60px;
    /* margin-bottom: 500px; */
    display: inline-block;
    color: white;
    
}

#last{
    display: inline-block;
    margin-top: 45px;
    margin-left: 60px;
}

p{
    color: rgb(169, 158, 143);
}